@charset "utf-8";

html{
    background-color:  rgb(255, 236, 192);
}

/*
Base style
*/
body {
    font-family:'Noto Sans JP',  'Arial', 'century',  "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 10%;

}

/* 
section
*/
.section {
    padding: 30px 15px;
}

.section-headline {
    text-align: center;
    font-size: 40px;
    font-weight: inherit;
    margin: 50px 40px;
}

/*
about
*/
.about-image {
    width : 75%;
    
}
.about {
    margin: 0;
    text-align: center;
/*    display: flex;*/
}
.about-caption {
    padding-left: 15px;
}
.about-headline {
    text-align: center;
    margin: 20 0 20px;
    font-size: 30px;
}
.about-description {
    text-align: center;
    margin: 20 0 20px;
    font-size: 20px;
}

/*
grid
*/
.grid-col-3 {
    margin: 0;
    padding: 0;
    display: flex;


    
}
.grid-item {
    list-style: none;

}

.grid-col-2 > .grid-item {
    width: 50%;
}
.grid-col-3 > .grid-item {
    width: 33.3%;
}
.grid-col-4 > .grid-item {
    width: 25%;
}

/*
feature
*/
.feature {
    text-align: center;
    padding: 0 15px;
}
.feature-headline {
    font-weight: bold;
    margin: 0 0 20px;
}
.feature-img {
    margin: 0 0 0px;
}
.feature-description {
    margin: 0;
    text-align: center;
}

/*
card
*/
.card {
    padding: 0 10px;
}
.card-link {
    display: block;
    color: #333;
    text-decoration: none;
    position: relative;
    transition: background-color 1s;
}
.card-link:hover {
    background-color: #eee;
}
.card-label {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #999;
    color: #fff;
    display: block;
    padding: 5px 10px;
    font-size: 12px;

}
.card-image {
    width: 100%;
    height: auto;
}
.card-info {
    padding: 5px 10px; 
}
/*.card-time {}*/
.card-headline {
    margin: 0;
}
.card-description {
    margin: 0;
}

/*
avator
*/
.avator {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    padding: 10px;
}
.avator-name {
    font-weight: bold;
    padding-left: 15px;
}
.avator-image {
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
}

/*
button
*/
.button {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    background-color: #333;
    text-align: center;
    padding: 15px 60px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 5px 5px 0 #bbb;
    transition: box-shadow .25s;
}
.button:hover {
    box-shadow: 0 0 0 #bbb;
}
.button.button-submission {
    background: #92d3ca;
}

/* 
footer
*/
.footer {
    background-color: #333;
    color: pink;
}
.footer-map {
    margin: 0;
    padding: 40px 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer-map > iframe {
    width: 60%;
}
.footer-mapinfo {
    width: 40%;
    padding: 25px;
}
.footer-maplogo {
    font-size: 25px;
}
.footer-mapaddress {
    font-style: normal;
}
.footer-mapaddress > a {
    color: pink;
}
/* .footer-line {} */
/* .footer-copy {} */
